{% extends "base.html" %}

{% block body %}

<section id="banner">
    <div class="black-filter titles">
        <h1>OpenClassrooms Alumni</h1>
        <h2>Parcours Développeur-se d'Application</h2>
    </div>
</section>

<section id="students" class="inset-shadow">
    <h2>Nos fantastiques étudiants</h2>

    <div class="container">
        {% for student in pages %}
            {# if student.public == True #}
            <div class="col-md-4">
                <div class="rounded thumbnail">
                    <img src="{{ student.image }}" class="img-responsive">
                </div>
                <h3 class="text-center">{{ student.name }}</h3>
                <div class="text-justified">{{ student.short_description }}</div>
                {# ' '.join(student.description) #}
            </div>
            {# endif #}
        {% endfor %}    

    </div>


</section>

{% endblock %}